@media (max-width: 1240px) {
    #myElement {
      display: none;
      margin: 0;
      padding: 0;
      width: 100%;
      gap: 0;

    
    }
    #displayBlock{
        display: block;
    }
  
  }
  
@media (min-width: 820px) {
    
    .displayFlex{
        display: flex;
    }
  }
@media (max-width: 400px) {
    
    #displayNone{
        display: none;
        
    }
    #displayBorder{
        border: 0;
      
        
    }
    

      #paddingLow{
padding: 0;
    } 
  }
  .playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800; /* or 500, 600, 700 etc. */
  font-style: bold;

}
